<div class="creation-subtask">
  <div class="creation-subtask__title">Thêm tiêu chí</div>
  <div class="creation-subtask__form">
    <div class="creation-subtask__form__name">
      <label for="">Tên</label>
      <input type="text" [(ngModel)]=" subTaskInfo.subTaskName">
    </div>
    <div class="creation-subtask__form__description">
      <label for="">Mô tả</label>
      <textarea name="" id="" cols="30" rows="5" [(ngModel)]=" subTaskInfo.subtaskDescription"></textarea>
    </div>
    <div class="creation-subtask__form__action">
      <div class="creation-subtask__form__action__cancel-btn" (click)="onNoClick()">
        Hủy
      </div>
      <button type="submit" class="creation-subtask__form__action__creative-btn">
        <app-loader size="15px" color="white" *ngIf="isLoading; else btnname"></app-loader>
        <ng-template #btnname>Thêm tiêu chí</ng-template>
      </button>
    </div>
  </div>
</div>
