<header class="header">
    <div class="header__app-info">
        <div class="header__app-info__logo"></div>
        <div class="header__app-info__name">
            ODA Project
        </div>
    </div>
    <div class="header__flex-info">
        <div class="header__flex-info__time">
            <div class="header__flex-info__time__title">TODAY</div>
            <div class="header__flex-info__time__value">
                01 January, 2023
            </div>
        </div>
        <div class="header__flex-info__divide"></div>
        <div class="header__flex-info__profile">
            <div class="header__flex-info__profile__title">PROFILE</div>
            <div class="header__flex-info__profile__value">
                <div class="active-status"></div>
                <div class="name">Nguyen Van A</div>
            </div>
        </div>
    </div>
</header>
