<!-- <p>grantt-chart works!</p> -->
<div class="grantt">
    <div class="grantt__task-info">
        <!-- <div class="grantt__task-info__heading"></div> -->
        <div class="grantt__task-info__task-list">
            <!-- <div class="grantt__task-info__task-list__item" *ngFor="let task of taskList">
               {{ task.taskName }}
            </div> -->
            <table>
                <tr>
                    <th class="name">Tên công việc</th>
                    <th class="duration">Thời gian (ngày)</th>
                    <th class="date">Ngày bắt đầu</th>
                    <th class="date">Ngày kết thúc</th>
                </tr>
                <tr *ngFor="let task of taskList" >
                    <td class="name">{{ task.taskName }}</td>
                    <td class="duration"> {{ task.taskDuration }} </td>
                    <td class="date">{{ task.taskStartAt }}</td>
                    <td class="date">{{ task.taskEndAt }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="grantt__process">
        <div class="grantt__process__date-division">
            <div class="grantt__process__date-division__date" *ngFor="let date of dateList">
                {{ date.getDate() < 10 ? "0" + date.getDate() : date.getDate() }}
            </div>
        </div>
        <div class="grantt__process__processing-bar-list">
            <div class="grantt__process__processing-bar-list__item" *ngFor="let task of taskList">
                <app-processing-bar [startDateProcess]="projectInfo.projectStartAt"
                                    [startDateTask]="task.taskStartAt"
                                    [endDateTask]="task.taskEndAt"
                ></app-processing-bar>
            </div>
        </div>
    </div>
</div>