<!-- <p>grantt-chart works!</p> -->
<div class="grantt">
    <div class="grantt__task-info">
        <div class="grantt__task-info__heading"></div>
        <div class="grantt__task-info__task-list">
            <div class="grantt__task-info__task-list__item" *ngFor="let item of [].constructor(5)">
                Cong viec 1
            </div>
        </div>
    </div>
    <div class="grantt__process">
        <div class="grantt__process__date-division">
            <div class="grantt__process__date-division__date" *ngFor="let item of  [].constructor(50)">
                30
            </div>
        </div>
        <div class="grantt__process__processing-bar-list">
            <div class="grantt__process__processing-bar-list__item">
                <app-processing-bar [startDateProcess]="'2023-11-20'"
                                    [startDateTask]="'2023-11-28'"
                                    [endDateTask]="'2023-11-30'"
                ></app-processing-bar>
            </div>
            <div class="grantt__process__processing-bar-list__item">
                <app-processing-bar [startDateProcess]="'2023-11-20'"
                                    [startDateTask]="'2023-11-20'"
                                    [endDateTask]="'2023-11-25'"
                ></app-processing-bar>
            </div>
        </div>
    </div>
</div>