@import url(../../../../../../assets/scss/sass-config.scss);
.task-infor {
  &__taskname {
    margin-top: 5px;
    border-style: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 26px;
    color: #000;
  }
  &__date {
    border-style: none;
    border-radius: 5px;
    width: 100px;
  }
  &__duration {
    border-style: none;
    border-radius: 5px;
    width: 40px;
  }
}
.table-task {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  &__heading-task {
    position: static;
    background-color: #ffffff;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
    text-align: center;
  }
  &__body-task {
    position: static;
    &__task {
      &__content-task {
        position: static;
        margin-left: 10px;
        margin-top: 5px;
        padding: 10px 0px 10px 0px;
        padding-left: 10px;
        border-radius: 5px;
        border-left: 8px solid #1a2848;
        background-color: #ffffff;
      }
      &__subtask {
        position: static;
        margin-left: 20px;
        margin-top: 5px;
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        border-left: 8px solid #1a2848;
        background-color: #ffffff;
      }
    }
  }
}
.margin-right-10 {
  margin-right: 10px;
}
.padding-left-10 {
  padding-left: 20px;
}

.container {
  background-color: #e9edf0;
}
