<div class="process-creation">
    <div class="process-creation__heading">
        Create process
    </div>
    <form class="process-creation__form">
        <div class="process-creation__form__name-field">
            <label for="process-name">Tên quy trình</label>
            <input type="text" name="" id="process-name" aria-label="-1">
        </div>
        <div class="process-creation__form__description-field">
            <label for="process-description">Mô tả</label>
            <textarea type="text" name="" id="process-description"></textarea>
        </div>
        <div class="process-creation__form__start-date-field">
            <label for="">Ngày bắt đầu</label>
            <input type="date" name="" id="">
        </div>
        <div class="process-creation__form__action">
            <button class="process-creation__form__action__create-btn">
                Create
            </button>
        </div>
    </form>
</div>